<body style="text-align: center;">
    <form>
        <div class="container">
    <div class="row">
<legend style="text-align: center;color: blueviolet;width:100%;height:100%"><h1><b>Create Account</b></h1></legend>
<div class="col-md-6">
<img src="assets/welcome.jpg" class="image-fluid">
</div>
<div class="col-md-6">
<label for="email">Email</label>&nbsp;&nbsp;<input type="email" name="email" id="email"><br><br><br>
<label for="password">password</label>&nbsp;&nbsp;<input type="password" name="password" id="password"><br><br><br>

<input type="button" value="SignUP" class="btn btn-block "><br><br><br>
<a href="login.component.html">Already have account? Login Here</a>
</div>
</div>
</div>
</form>
</body>
